.post {
  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
    & a {
      color: #ff844d;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > a {
    line-height: 1.8;
    letter-spacing: 0.2px;
    color: #ff844d;
  }

  & > ol {
    padding-left: 0;
    counter-reset: number;
    margin: 24px 0;
  }
  & > ul {
    padding-left: 0;
  }
  & > ol > li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 0.8rem;
    &::after {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 1px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 50%;
      color: #fff;
      font-size: 11.5px;
      text-align: center;
      content: counter(number);
      counter-increment: number;
      background: #28294a;
      font-weight: 700;
    }
  }
  & > ul > li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 0.8rem;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 8px;
      width: 8px;
      height: 8px;
      line-height: 22px;
      border-radius: 50%;
      background-color: #28294a;
    }
  }
  pre {
    word-break: break-all;
    white-space: pre-wrap;
  }
  code {
    border-radius: 4px;
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .post {
    & > h2 {
      font-size: 20px;
      margin: 40px 0 16px;
    }
    & > h3 {
      font-size: 16px;
    }
  }
}
